In [23]:
import pandas as pd

In [24]:
df = pd.read_excel('insurance.xlsx')

In [25]:
df

   Age  Height   wt  Premium
0   25  162.56   70    18000
1   30  172.72   95    38000
2   35  167.64   78    38000
3   40     NaN  110    60000
4   45  157.48   85    70000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Age      5 non-null      int64
 1   Height   4 non-null      float64
 2   wt       5 non-null      int64
 3   Premium  5 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 288.0 bytes

In [28]:
df['wt']

0     70
1     95
2     78
3    110
4     85
Name: wt, dtype: int64

In [29]:
df.Height.mean()  # Find mean of height

165.1

In [30]:
df.Height.fillna(df.Height.mean(),inplace = True)  # found None value so filled with mean value

In [31]:
df

   Age  Height   wt  Premium
0   25  162.56   70    18000
1   30  172.72   95    38000
2   35  167.64   78    38000
3   40  165.10  110    60000
4   45  157.48   85    70000

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
reg = LinearRegression()

In [35]:
reg.fit(df[['Age','Height','wt']],df['Premium'])

LinearRegression()

In [38]:
reg.coef_

array([2150.26052416, -248.45851574,  312.65291961])

In [44]:
reg.intercept_

-16827.013154824934

## Equation of Multiple Linear Regression...

<b>y = Bo + B1x1 + B2x2 + B3x3...+BnXn<b>

Bo - Intercept
    
B1,B2,..Bn - Coefficient

In [43]:
y = reg.intercept_ + (2150.26052416*26) + (-248.45851574*163.50) + (312.65291961*73)
y

21280.456281375074

### If we check both the answer are same as prediction and calculation

In [40]:
reg.predict([[26,163.50,73]])   # prediction on age, height, weight

C:\Users\MR.GODHADE\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21280.45628151])

In [41]:
reg.predict([[24,160.50,65]])

C:\Users\MR.GODHADE\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15224.08742356])

In [42]:
reg.predict([[50,170.50,75]])

C:\Users\MR.GODHADE\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71772.80509038])