In [1]:
import pandas as pd

In [2]:
mp = pd.read_csv('trainRF.csv')

In [3]:
mp.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
mp.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [5]:
mp.select_dtypes(include='object').columns

Index([], dtype='object')

### Sampling

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
mp_train, mp_test = train_test_split(mp,test_size=0.2)

In [8]:
mp_train_x = mp_train.iloc[ : , :-1]
mp_train_y = mp_train.iloc[ : , -1]

In [9]:
mp_test_x = mp_test.iloc[ : , :-1]
mp_test_y = mp_test.iloc[ : , -1]

### Model building

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
rf = RandomForestClassifier(n_estimators=500,  criterion='gini',class_weight='balanced')

In [34]:
rf.fit(mp_train_x,mp_train_y)

RandomForestClassifier(class_weight='balanced', n_estimators=500)

### Prediction

In [35]:
pred_rf = rf.predict(mp_test_x)
pred_rf

array([1, 1, 0, 2, 3, 2, 0, 3, 1, 2, 1, 0, 0, 0, 3, 2, 3, 2, 1, 0, 3, 3,
       3, 0, 3, 3, 1, 3, 0, 0, 2, 2, 2, 1, 3, 1, 0, 0, 0, 2, 2, 2, 2, 3,
       2, 2, 0, 2, 0, 0, 2, 1, 1, 3, 3, 2, 2, 3, 3, 2, 0, 1, 3, 0, 1, 2,
       2, 0, 1, 2, 1, 0, 3, 1, 3, 2, 0, 2, 0, 3, 3, 1, 0, 1, 0, 0, 0, 1,
       3, 0, 0, 1, 3, 3, 2, 1, 0, 0, 0, 0, 1, 3, 1, 1, 0, 2, 1, 0, 1, 2,
       3, 3, 1, 0, 0, 3, 0, 0, 2, 3, 0, 2, 3, 3, 3, 0, 2, 2, 1, 1, 3, 3,
       3, 1, 0, 1, 0, 3, 3, 2, 2, 1, 1, 0, 3, 1, 3, 2, 0, 3, 2, 3, 1, 2,
       3, 0, 3, 0, 1, 2, 2, 2, 2, 1, 2, 1, 0, 3, 1, 1, 2, 2, 2, 0, 1, 1,
       0, 3, 2, 2, 0, 1, 3, 0, 2, 0, 0, 2, 0, 3, 3, 1, 3, 0, 1, 3, 0, 0,
       0, 0, 0, 2, 3, 3, 2, 2, 0, 1, 2, 0, 2, 3, 1, 0, 2, 3, 0, 2, 1, 1,
       1, 1, 0, 1, 3, 0, 0, 2, 2, 3, 0, 3, 0, 2, 2, 3, 0, 1, 0, 1, 2, 2,
       2, 1, 1, 1, 0, 0, 3, 2, 1, 1, 1, 1, 3, 3, 0, 3, 0, 0, 2, 1, 0, 1,
       1, 2, 1, 2, 2, 0, 3, 2, 2, 0, 3, 0, 0, 0, 0, 0, 2, 1, 2, 0, 1, 2,
       1, 3, 0, 0, 1, 1, 1, 2, 1, 2, 0, 0, 1, 1, 0, 0, 3, 2, 3, 1, 0, 3,
       1, 0, 3, 2, 1, 2, 2, 3, 1, 1, 3, 0, 0, 3, 3, 3, 1, 3, 1, 1, 2, 3,
       2, 2, 1, 3, 1, 2, 3, 3, 2, 1, 2, 0, 1, 3, 0, 2, 0, 0, 2, 1, 2, 1,
       3, 3, 2, 2, 2, 2, 2, 3, 0, 1, 3, 3, 2, 0, 0, 2, 0, 1, 2, 0, 0, 1,
       2, 0, 0, 0, 3, 3, 3, 1, 1, 0, 0, 1, 1, 0, 2, 1, 2, 0, 0, 0, 2, 1,
       1, 1, 0, 2], dtype=int64)

### Confusion Matrics

In [36]:
from sklearn.metrics import confusion_matrix

In [37]:
tab = confusion_matrix(mp_test_y,pred_rf)
tab

array([[107,   8,   0,   0],
       [  7,  84,   7,   0],
       [  0,   6,  88,  10],
       [  0,   0,   5,  78]], dtype=int64)

### Accuracy

In [38]:
Accuracy = tab.diagonal().sum()*100/tab.sum()
Accuracy

89.25

### Important Features

In [39]:
rf.feature_importances_

array([0.07514627, 0.00698168, 0.02794738, 0.00652117, 0.02435171,
       0.00671026, 0.035379  , 0.02491169, 0.04087894, 0.02237946,
       0.02918001, 0.05604387, 0.05508067, 0.48185882, 0.02724684,
       0.02913435, 0.03090229, 0.00590811, 0.00703808, 0.00639942])

In [40]:
rf.feature_importances_.sum()

1.0

In [41]:
mp_train_x.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [42]:
feat_imp_df = pd.DataFrame()
feat_imp_df['Features'] = mp_train_x.columns
feat_imp_df['Imp'] = rf.feature_importances_

In [43]:
feat_imp_df.sort_values('Imp',ascending=False)

         Features       Imp
13            ram  0.481859
0   battery_power  0.075146
11      px_height  0.056044
12       px_width  0.055081
8       mobile_wt  0.040879
6      int_memory  0.035379
16      talk_time  0.030902
10             pc  0.029180
15           sc_w  0.029134
2     clock_speed  0.027947
14           sc_h  0.027247
7           m_dep  0.024912
4              fc  0.024352
9         n_cores  0.022379
18   touch_screen  0.007038
1            blue  0.006982
5          four_g  0.006710
3        dual_sim  0.006521
19           wifi  0.006399
17        three_g  0.005908