In [19]:
import pandas as pd
import numpy as np

In [20]:
db = pd.read_csv('diabetesLogistic.csv')

In [31]:
db

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [21]:
db_x = db.iloc[:,:-1]
db_y = db.iloc[:,-1]

In [22]:
db_x1 = db_x
db_y1 = db_y
# just for back-up

In [23]:
db_x = np.array(db_x)
db_y = np.array(db_y)
# for bouruta your input is to be in array format

In [24]:
from boruta import BorutaPy

In [25]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [26]:
boruta_feature_selector = BorutaPy(rfc, max_iter= 12,verbose=2)
boruta_feature_selector.fit(db_x,db_y)

Iteration: 	1 / 12
Confirmed: 	0
Tentative: 	8
Rejected: 	0
Iteration: 	2 / 12
Confirmed: 	0
Tentative: 	8
Rejected: 	0
Iteration: 	3 / 12
Confirmed: 	0
Tentative: 	8
Rejected: 	0
Iteration: 	4 / 12
Confirmed: 	0
Tentative: 	8
Rejected: 	0
Iteration: 	5 / 12
Confirmed: 	0
Tentative: 	8
Rejected: 	0
Iteration: 	6 / 12
Confirmed: 	0
Tentative: 	8
Rejected: 	0
Iteration: 	7 / 12
Confirmed: 	0
Tentative: 	8
Rejected: 	0
Iteration: 	8 / 12
Confirmed: 	4
Tentative: 	0
Rejected: 	4


BorutaPy finished running.

Iteration: 	9 / 12
Confirmed: 	4
Tentative: 	0
Rejected: 	4

BorutaPy(estimator=RandomForestClassifier(n_estimators=1000,
                                          random_state=RandomState(MT19937) at 0x1F43A936740),
         max_iter=12, random_state=RandomState(MT19937) at 0x1F43A936740,
         verbose=2)

In [27]:
boruta_feature_selector.support_

array([False,  True, False, False, False,  True,  True,  True])

In [28]:
db_x1.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [29]:
df = pd.DataFrame()
df['Features'] = db_x1.columns
df['Importance']= boruta_feature_selector.support_

In [30]:
df

                   Features  Importance
0               Pregnancies       False
1                   Glucose        True
2             BloodPressure       False
3             SkinThickness       False
4                   Insulin       False
5                       BMI        True
6  DiabetesPedigreeFunction        True
7                       Age        True