In [51]:
import pandas as pd

In [52]:
import warnings
warnings.filterwarnings("ignore")

In [53]:
cc = pd.read_excel('default of credit card clients.xls',)

In [54]:
cc.columns = cc.iloc[0]

In [55]:
cc = cc.iloc[1::]

In [56]:
cc = cc.astype(float)

In [57]:
cc[cc <0] = 0

In [58]:
cc

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1.0,20000.0,2.0,2.0,1.0,24.0,2.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,2.0,120000.0,2.0,2.0,2.0,26.0,0.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,3.0,90000.0,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,4.0,50000.0,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,5.0,50000.0,1.0,2.0,1.0,57.0,0.0,0.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,29996.0,220000.0,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,29997.0,150000.0,1.0,3.0,2.0,43.0,0.0,0.0,0.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,29998.0,30000.0,1.0,2.0,2.0,37.0,4.0,3.0,2.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,29999.0,80000.0,1.0,3.0,1.0,41.0,1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,30000.0,50000.0,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

### Sampling

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
train_cc, test_cc = train_test_split(cc,test_size=0.2)

In [61]:
print(cc.shape," ",train_cc.shape," ",test_cc.shape)

(30000, 25)   (24000, 25)   (6000, 25)

In [62]:
train_cc_x = train_cc.iloc[:,:-1]
train_cc_y = train_cc.iloc[:,-1]

In [63]:
test_cc_x = test_cc.iloc[:,:-1]
test_cc_y = test_cc.iloc[:,-1]

### Model Building

In [64]:
from sklearn.naive_bayes import MultinomialNB

In [65]:
nb = MultinomialNB()

In [66]:
nb.fit(train_cc_x,train_cc_y)

MultinomialNB()

### Prediction

In [67]:
pred_nb = nb.predict(test_cc_x)
pred_nb

array([1., 1., 0., ..., 0., 1., 0.])

### Confusion Matrics

In [68]:
from sklearn.metrics import confusion_matrix,f1_score,precision_score

In [69]:
confusion_matrix(test_cc_y,pred_nb)

array([[2671, 2057],
       [ 518,  754]], dtype=int64)

In [70]:
f1_score(test_cc_y,pred_nb)

0.3693362723487632

In [71]:
precision_score(test_cc_y,pred_nb)

0.26823194592671645

In [72]:
print("Logistic Regression")
print("_________________________________")
print()
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(train_cc_x,train_cc_y)
pred = logreg.predict(test_cc_x)
tab = confusion_matrix(test_cc_y,pred)
print(tab)
print()
Accuracy = tab.diagonal().sum()*100/tab.sum()
print("Accuracy = ",Accuracy)
print("f1_score : ",f1_score(test_cc_y,pred))
print("Precision :",precision_score(test_cc_y,pred))
print()
print()


print(" Decision Tree")
print("_________________________________")
print()
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(train_cc_x,train_cc_y)
pred = dt.predict(test_cc_x)
tab = confusion_matrix(test_cc_y,pred)
print(tab)
print()
Accuracy = tab.diagonal().sum()*100/tab.sum()
print("Accuracy = ",Accuracy)
print("f1_score : ",f1_score(test_cc_y,pred))
print("Precision :",precision_score(test_cc_y,pred))
print()
print()


print("Random Forest")
print("_________________________________")
print()
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(train_cc_x,train_cc_y)
pred = rf.predict(test_cc_x)
tab = confusion_matrix(test_cc_y,pred)
print(tab)
print()
Accuracy = tab.diagonal().sum()*100/tab.sum()
print("Accuracy = ",Accuracy)
print("f1_score : ",f1_score(test_cc_y,pred))
print("Precision :",precision_score(test_cc_y,pred))
print()
print()


print("KNN")
print("_________________________________")
print()
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(train_cc_x,train_cc_y)
pred = knn.predict(test_cc_x)
tab = confusion_matrix(test_cc_y,pred)
print(tab)
print()
Accuracy = tab.diagonal().sum()*100/tab.sum()
print("Accuracy = ",Accuracy)
print("f1_score : ",f1_score(test_cc_y,pred))
print("Precision :",precision_score(test_cc_y,pred))
print()

Logistic Regression
_________________________________

[[4727    1]
 [1272    0]]

Accuracy =  78.78333333333333
f1_score :  0.0
Precision : 0.0


 Decision Tree
_________________________________

[[3848  880]
 [ 754  518]]

Accuracy =  72.76666666666667
f1_score :  0.3880149812734082
Precision : 0.37052932761087265


Random Forest
_________________________________

[[4468  260]
 [ 818  454]]

Accuracy =  82.03333333333333
f1_score :  0.45720040281973817
Precision : 0.6358543417366946


KNN
_________________________________

[[4263  465]
 [1039  233]]

Accuracy =  74.93333333333334
f1_score :  0.23654822335025377
Precision : 0.333810888252149