In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
ctg = pd.read_csv("CTG.csv")
ctg

       LB     AC     FM  NSP
0     120  0.000  0.000    2
1     132  0.006  0.000    1
2     133  0.003  0.000    1
3     134  0.003  0.000    1
4     132  0.007  0.000    1
...   ...    ...    ...  ...
2121  140  0.000  0.000    2
2122  140  0.001  0.000    2
2123  140  0.001  0.000    2
2124  140  0.001  0.000    2
2125  142  0.002  0.002    1

[2126 rows x 4 columns]

In [3]:

#LB : beats per second
#AC : acceleration per second
#FM : fetal movement per second
#NSP (Normal , suspect, pathalogical)

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
train_ctg , test_ctg = train_test_split(ctg, test_size = 0.3)

ctg.shape, train_ctg.shape, test_ctg.shape

((2126, 4), (1488, 4), (638, 4))

In [6]:
# Seperating the x and y variables from the train data set

train_ctg_x = train_ctg.iloc[:,0:-1]
train_ctg_y = train_ctg.iloc[:,-1]

# Seperating the x and y variables from the train data set

test_ctg_x = test_ctg.iloc[:,0:-1]
test_ctg_y = test_ctg.iloc[:,-1]

In [7]:
from sklearn.naive_bayes import MultinomialNB

In [8]:
nb = MultinomialNB()

In [9]:
nb.fit(train_ctg_x,train_ctg_y)

MultinomialNB()

### Prediction

In [10]:
pred_nb = nb.predict(test_ctg_x)

In [11]:
from sklearn.metrics import confusion_matrix

In [12]:
confusion_matrix(test_ctg_y,pred_nb)

array([[486,   0,   0],
       [ 96,   0,   0],
       [ 56,   0,   0]], dtype=int64)